body {
  background-image: url("http://www.publicdomainpictures.net/pictures/140000/velka/grey-white-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: auto;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Raleway', sans-serif;
}

#container {
   padding-top: 80px;
   margin-left: 1%;
   margin-right: 1%;
}

#registre {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

#banner {
  width: 100%;
  border-top: 0px;
}

#estructura {
  max-width: 900px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.tipus {
  font-weight: bold;
}

.menu {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  background-color: #333;
  /*background-color: white;*/
  border-spacing: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  position: fixed;
  top: 0;
  /*color: white;*/
}

.active {
  background-color: #4CAF50;
}

.menu li {
    float: left;
    padding: 0 10px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
  /*background-color: #111;*/
  color: #4CAF50;
}

.align-left{
  text-align: left;
}

@media screen and (max-width: 600px){
    .menu {
      float: right;
      padding: 0px;
      position: relative;
    }
    .menu li {
      float: none;
      padding: 0px;
    }
    #estructura {
      padding: 2%;
    }
    #registre {
      float:left;
    }
    #registre span {
      display: block;
    }
}

footer a {
  width: 100%;
  height: auto;
}

.tablaFooter {
  text-align: center;
  border: 2px solid red;
  border-radius: 100px;
  border-spacing: 5px;
  margin-top: 80px;
  margin-left: auto;
  width: 345px;
}

.tablaFooter .tborderRight {
  border-right: 1px solid red;
}

.tablaFooter .tborderLeft {
  border-left: 1px solid red;
}

#img {
   display:block;
  text-align: center;
  max-width: 100%;
}
#vinc {
  float: left;
}
